<li class="nav-item pcoded-hasmenu">

    <a href="#!" class="nav-link ">
        <div style="display:flex; align-items:center; height:30px;">
            <div style="height:30px; display:flex; justify-content:center; align-items:center; width:30px;">
                <img style="height:15px; width:15px" src="{{get_template_file('logo.png',True)}}">
            </div>
            <span class="pcoded-mtext">MFEM</span>
        </div>
    </a>

    <ul class="pcoded-submenu" id="files_list">
        <li >
            <a onclick="render_in_main_view('{{ get_template_file('link1.html')}}')" href="#!">Modular Finite Element Methods</a>
        </li>
    </ul>

</li>

